 body {
    background-image:url('wormhole-2514312_1920.jpg');
    background-size:cover;
    background-repeat: no-repeat round;
    background-repeat:repeat round;
    min-height:100%;
    min-width:100%;
    
}
h1,h3{
  font-family: 'Orbitron';
  line-height: 0;
  color: white;
}

#select {
  font-size: 60px;
  text-align: center;
  padding: 20px 0;
  color: white;
  
}
input {
  border: 0;
  outline: 0;
  border-width: 0 0 2px;
  border-color:  #f0f0f0;
  background-color: transparent;
  background-color:rgba(0,0,0,0.5);
}

form{
  text-align: center;
  font-family: 'Roboto Condensed';
  color:white ;
  margin: 0 auto;
  width: 500px;
  padding: 1px 90px;
  border-style: dashed;
  border-radius: 1em;
  border-color:#f0f0f0; 
  background-color:rgba(0,0,0,0.5);
}
